@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.editor {
    width: 30vw;
    height: 30vh;
    border: 1px solid black;
    background-color: #fff;
}

li {
    list-style-type: none;
}