@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.container {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 15vh;
}

div.editor {
    width: 100%;
    height: 90%;
    border: 1px solid black;
    background-color: #fff;
}

div.bar {
    height: 10%;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #dedede;
    display: flex;
    align-items: center;
}

div:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

li {
    list-style-type: none;
    float: left;
}

button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}